.sidebar-container {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 16px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

#activeEmail {
    background-color: lightblue;
}

.sidebar-container:hover {
    transform: scale(1.05);
}

.sidebar-container.read {
    background-color: white;
}

.sidebar-container.unread {
    background-color: grey;
}
